@import '../../themes/variables.css';


.section_dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header_desing {
    background-color: transparent;
    border: 1px solid transparent;
    margin: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 10px;
}

@media (min-width:800px) {
    .header_desing{
        font-size: 15px;
    }
}

.header_boton {
    background-color: transparent;
    border: 1px solid rgb(138, 43, 226);
    border-radius: 1em;
    color: rgb(138, 43, 226);
    font-size: 15px;
    font-family: var(--font-family);
    font-weight:bolder;
    /*box-shadow: 0 4px 15px rgba(137, 43, 226, 0.267);*/
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.header_boton:hover {
    background-color: rgb(138, 43, 226);
    color: rgb(255, 255, 255);
}

@media (min-width:800px) {
    .header_boton{
        font-size: 20px;
        width: 120px;
        height: 50px;
    }
}

.uno {
    background-color: transparent;
    padding: 5px;
}

.section_boton { 
    background-color:white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    width: 30px;
    cursor: pointer;
    color: rgb(138, 43, 226);
    margin-right: 10px;
}
.section_boton:hover {
    background-color:rgb(241, 241, 241) ;
}


.section_input {
    background-color: white;
    width: 150px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    font-family: "Inter", sans-serif;
}

.section_desing { 
    background-color: transparent;
    height: 600px;
    width: 375px;
    display: flex;
    flex-direction: column;
}

.desing_ul {
    background-color: transparent;
    border-right: 1px solid rgba(137, 43, 226, 0.11);
}
.desing_li {
    background-color: transparent;
    margin: 5px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.desing_li:hover {
    background-color:rgba(137, 43, 226, 0.048);
    cursor: pointer;
}